{% extends 'base.html.twig' %}


{% form_theme edit_form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Editar Cliente</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Editar" class="btn btn-primary float-left" style="margin: 5px" />
    {{ form_end(edit_form) }}
    
    {{ form_start(delete_form) }}
    <input type="submit" value="Apagar" class="btn btn-danger" style="margin: 5px">
    {{ form_end(delete_form) }}

{% endblock %}
