<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="/js/jquery/jquery.js" type="text/javascript" ></script>
    <script src="/js/bootstrap.bundle.js" type="text/javascript" ></script>
    <link href="/css/bootstrap.css" rel="stylesheet"  />
    <link href="/css/simple-sidebar.css" rel="stylesheet"  />
</head>
<body>
    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        SysVet
                    </a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path("usuario_index") }}">Usuários</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path("cliente_index") }}">Clientes</a>
                </li>
                <li>
                    <a href="{{ path("servico_index") }}">Serviços</a>
                </li>
                <li>
                    <a href="{{ path("agendamento_index") }}">Agendamentos</a>
                </li>
                <li>
                    <a href="#">Relatórios</a>
                </li>                
                {% if app.user != null %}
                    <li>
                        <a href="{{ logout_url() }}">{{ app.user.username }} (Logout)</a>
                    </li> 
                {% endif %}
            </ul>
        </div>                
        <div id="page-content-wrapper">
        {% block body %}{% endblock %}
    </div>
</div> 

{% block javascripts %}{% endblock %}
</body>
</html>
