{% extends 'base.html.twig' %}

{% block body %}
    <h3>Listagem Serviços  <a href="{{ path('servico_new') }}" class="btn btn-primary float-right">Novo Serviço</a></h3>

    <table class="table table-striped" style="text-align: center">
        <thead>
            <tr>
                <th>
                    <a href="?ord=idServico" {% if ord == 'idServico' %} class="text-dark" {% endif%}>ID</a>
                </th>
                <th>
                    <a href="?ord=nomeServico" {% if ord == 'nomeServico' %} class="text-dark" {% endif%}>Nome Serviço</a>
                </th>
                <th>
                    <a href="?ord=descricaoServico" {% if ord == 'descricaoServico' %} class="text-dark" {% endif%}>Descricao Serviço</a>
                </th>
                <th>
                    <a href="?ord=precoServico" {% if ord == 'precoServico' %} class="text-dark" {% endif%}>Preço Serviço</a>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for servico in servicos %}
                <tr>
                    <td><a href="{{ path('servico_show', { 'idServico': servico.idServico }) }}">{{ servico.idServico }}</a></td>
                    <td>{{ servico.nomeServico }}</td>
                    <td>{{ servico.descricaoServico }}</td>
                    <td>{{ servico.precoServico }}</td>
                    <td>
                        <a href="{{ path('servico_show', { 'idServico': servico.idServico }) }}" class="btn btn-info">Visualizar</a>
                        <a href="{{ path('servico_edit', { 'idServico': servico.idServico }) }}" class="btn btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}
