{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servico</h1>

    <table>
        <tbody>
            <tr>
                <th>Idservico</th>
                <td>{{ servico.idServico }}</td>
            </tr>
            <tr>
                <th>Nomeservico</th>
                <td>{{ servico.nomeServico }}</td>
            </tr>
            <tr>
                <th>Descricaoservico</th>
                <td>{{ servico.descricaoServico }}</td>
            </tr>
            <tr>
                <th>Precoservico</th>
                <td>{{ servico.precoServico }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servico_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('servico_edit', { 'idServico': servico.idServico }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
