{% extends 'base.html.twig' %}

{% block body %}
    <h1>Serviço</h1>
    <a href="{{ path('servico_index') }}" class="btn btn-primary float-left" style="margin: 5px">Voltar a Listagem</a>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ servico.idServico }}</td>
            </tr>
            <tr>
                <th>Nome Serviço</th>
                <td>{{ servico.nomeServico }}</td>
            </tr>
            <tr>
                <th>Descrição Serviço</th>
                <td>{{ servico.descricaoServico }}</td>
            </tr>
            <tr>
                <th>Preço Serviço</th>
                <td>{{ servico.precoServico }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('servico_edit', { 'idServico': servico.idServico }) }}"  class="btn btn-primary float-left" style="margin: 5px">Editar</a>
    {{ form_start(delete_form) }}
    <input type="submit" value="Cancelar" class="btn btn-danger" style="margin: 5px"> 
    {{ form_end(delete_form) }}
</li>
</ul>
{% endblock %}
