{% extends 'base.html.twig' %}


{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}


    <h1>Novo Usuário</h1>

    {{ form_start(form) }}
    {{ form_row(form.nome, {'label' : 'Nome'}) }}
    {{ form_row(form.username, {'label' : 'UserName'}) }}
    {{ form_row(form.email, {'label' : 'Email'}) }}
    {{ form_row(form.plainPassword.first, {'label' : 'Senha'}) }}
    {{ form_row(form.plainPassword.second, {'label' : 'Confirmar Senha'}) }}

    <input type="submit" value="Criar" class="btn btn-success float-right" />
    {{ form_end(form) }}

{% endblock %}
