{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/locales/bootstrap-datepicker.pt-BR.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#dataSel').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR",
        }).on('changeDate', function (e) {

            location.href = ("?data=" + $("#dataSel").val());

        });

    </script>
{% endblock %}

{% block body %}
    <h3>Agendamentos  <a href="{{ path('agendamento_new') }}" class="btn btn-primary float-right">Criar novo agendamento</a></h3>    
    <div class="card">
        <div class="card-header"> Filtrar por</div>
        <div class="card-body" style="float: left">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="?status=NOVO">Novo</a>
                    <a class="dropdown-item" href="?status=CONFIRMADO">Confirmado</a>
                    <a class="dropdown-item" href="?status=CANCELADO">Cancelado</a>
                    <a class="dropdown-item" href="?status=REALIZADO">Realizado</a>
                </div>
            </div>
        </div>        
        <div class="col-md-3">
            <input type="text" value="{{data|date('d/m/Y')}}" id="dataSel" class="form-control">
        </div>

    </div>

    <table class="table table-bordered" style="text-align: center">
        <thead>
            <tr>
                <th>OS</th>
                <th>Horario</th>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in agendamentos %}
                <tr>
                    <td><a href="{{ path('agendamento_show', { 'id': agendamento.id }) }}">{{ agendamento.id }}</a></td>
                    <td>{% if agendamento.horario %}{{ agendamento.horario|date('d/m/Y H:i') }}{% endif %}</td>
                    <td>{{ agendamento.cliente }}</td>
                    <td>{{ agendamento.servico }}</td>
                    <td>
                        <a href="{{ path('agendamento_show', { 'id': agendamento.id }) }}" class="btn btn-info">Visualizar </a>
                        <a href="{{ path('agendamento_edit', { 'id': agendamento.id }) }}" class="btn btn-primary">Editar</a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   


{% endblock %}
